blockquote { border-left: none; }
#logo { margin: 2em auto; text-align: center; }
#copyright p { font-size: 0.7em; text-align: center; }
label.error { margin-top: 0; margin-bottom: 1.5em; }
input.error, textarea.error { margin-bottom: 0.2em; }
