/* global styles */
* { padding: 0; margin: 0; }
html { overflow: scroll; font-family: Verdana, Helvetica, Sans-Serif; font-size: 14px; }
body { background-color: #ffffff; }
form { margin-top: 1em; }
p { margin-top: 0.7em; margin-bottom: 0.7em; }
li { list-style-position: outside; margin-left: 2em; }
a img { border: none; }
a:link { text-decoration: none; color: #5575B3; border-bottom: dotted 1px #5575B3; }
a:visited { text-decoration: none; color: #5575B3; border-bottom: dotted 1px #5575B3; }
a:hover { background-color: #5575B3; color: #E1E7F2; }
a:active { background-color: #5575B3; color: #E1E7F2; }

#wrapper { width: 700px; }
#header, #footer, #copyright, #conference { width: 493px; margin: 2em auto; }
#footer { text-align: center; }
#content .display { width: 493px; height: 1.2em; padding: 4px 15px; margin: 0.3em auto; background-color: #a91e22; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; font-size: 13px; color: #e7c4b7; }
#content h3 a { display: block; width: 100%; }
#content .stretcher { width: 480px; margin: 0.3em auto; background-color: #ffffff; }
#header a:link, #footer a:link, #content h3 a:link { color: #e7c4b7; border: none; }
#header a:visited, #footer a:visited, #content h3 a:visited { color: #e7c4b7; border: none; }
#header a:hover, #footer a:hover, #content h3 a:hover { background-color: transparent; color: #e7c4b7; }
#header a:active, #footer a:active, #content h3 a:active { background-color: transparent; color: #e7c4b7; }

#copyright p { font-size: x-small; text-align: center; }
p.conference { margin-top: 2em; margin-bottom: 2em; text-align: center; }
p.conference a:link, p.conference a:visited { border-bottom: none; }
p.conference a:hover, p.conference a:active { background-color: transparent; color: #5575B3; }

.error { border: 1px solid #A91E22; background-color: #F4E3DD; color: #000000; margin-top: 1em; margin-bottom: 1em; padding: 0.3em; }

form table td { padding: 0.5em; }